*{
	margin: 0px;
	padding: 0px;
}


body {
background:url(../img/09.jpg);
background-repeat: no-repeat;
background-size: cover;


}
.con {
    width: 100%;
    margin: 0px auto;
 margin-left:100px;
    color: #ffff;
    position: center;
   
}



.lol-left{
width: 40%;
float: left;
height: 500px;
margin-top:250px;



}

.lol-left h3{

	color: #ffff;
    
    margin: 10px;
    font-size: 25px;
}

.lol-left ul{
	list-style: square;
    color: #fcffff;
    font-size: 20px;
    margin: 24px 28px;
}




.lol-left button {

    color: black;
font-size: 18px;
color: black;
font-size: 18px;
background: #a5b1b9d1;
padding: 13px 29px;
border: none;
border-radius: 20px;
margin-left: 74px;
margin-top: 17px;
text-transform: uppercase;

}



.lol-right{	 
width: 40%;
float: left;
height: 500px;
margin-top:200px;
margin-left:370px;
}


.reg{


background-color:#6e7e86ab;
width: 400px;
float: left;
height: 403px;
margin-top: 0px;


}


.lol-right h3{

	color: #101011;
    text-align: center;
    margin: 20px;
    font-size: 30px;
}

.lol-right form{

	color: #101011;
	width: 80%;
	padding: 10px 50px;


}


.form-control {
	width:250px;
	padding:10px 25px;
	margin-bottom: 10px;
	
}


.btk{
	 color: black;
font-size: 18px;
background: #b0b7bb;
padding: 13px 29px;
border: none;
border-radius: 28px;
width:205px;
text-transform: uppercase;
margin:10px auto;
}













